<!-- start Simple Custom CSS and JS -->
<style type="text/css">
footer svg,
footer i {
    width: 22px;
    height: 22px;
    color: #ffffff;
    opacity: 0.8;
    transition: 0.3s;
}

footer a:hover svg,
footer a:hover i {
    color: #6b8e23;
    opacity: 1;
}</style>
<!-- end Simple Custom CSS and JS -->
